body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0 0 5px 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange_colour {
    color: orange;
}

.header_half {
    width: 50%;
    padding-left: 2%;
}

.header_half img {
    width: 80%;
}

.link_btn {
    text-decoration: none;
    color: wheat;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

.top_banner {
    background-image: url("../images/top-bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.experience_container {
    display: flex;
}

.title_text {
    margin-left: 5%;
}

.experience_half {
    width: 50%;
    margin-left: 5%;
    margin-right: 3%;
    padding-left: 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    border-left: 8px solid orange;
    height: 380px;
}

footer p{
    text-align: center;
}